{
  "blocks": {
    "commander":     {"col": 0,  "row": 0,  "width": 8,  "height": 10},
    "session_stats": {"col": 8,  "row": 0,  "width": 8,  "height": 10},
    "crew_slf":      {"col": 16, "row": 0,  "width": 8,  "height": 10},
    "missions":      {"col": 0,  "row": 10, "width": 12, "height": 8},
    "alerts":        {"col": 0,  "row": 18, "width": 24, "height": 6}
  }
}
